@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;;
    width: 100%;
    background-color: #f1f1f1;
    color: grey;
    text-align: center;
 }
