@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

a:link {
    text-decoration: none;
}

input,
label,
button {
    cursor: pointer;
}
